<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='draw.js')}}"></script>
    <style>
       
    </style>
  </head>
  <header>Letter Recognition App</header>
  <body>

        <div style="margin:auto;width:100px;height:100px;padding:10px;text-align:center;background-color:gold">
            
                <h1 >{{prediction}}</h1>
           
        </div>
    
  </body>
</html>
